In [1]:
import sqlite3

In [2]:
#1 lets create a database and set the connection

In [3]:
conn=sqlite3.connect('my_database.db')

In [4]:
conn

In [5]:
# 2  create a table insert query

emp_table_creation_query = """
CREATE TABLE IF NOT EXISTS employees (
    employee_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    phone TEXT,
    address TEXT,
    hire_date TEXT NOT NULL,
    salary REAL NOT NULL,
    department TEXT NOT NULL,
    position TEXT NOT NULL
);
"""

In [6]:
# 3 create a query for customer table

customer_table_creation_query = """
CREATE TABLE IF NOT EXISTS customers (
    customer_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    phone TEXT,
    address TEXT
);
"""

In [7]:
# 3 create a query for order table
order_table_creation_query = """
CREATE TABLE IF NOT EXISTS orders (
    order_id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_id INTEGER NOT NULL,
    order_date TEXT NOT NULL,
    total_amount REAL NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);
"""

In [8]:
# 4 creating a cursor and executing the queries

In [9]:
cursor = conn.cursor()

In [10]:
cursor.execute(emp_table_creation_query)
cursor.execute(customer_table_creation_query)
cursor.execute(order_table_creation_query)

In [11]:
# 5 creating a insert query for employees , customers and orders

insert_employee_query = """
INSERT INTO employees (first_name, last_name, email, phone, address, hire_date, salary, department, position)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?);
"""

insert_customer_query = """
INSERT INTO customers (customer_id, first_name, last_name, email, phone, address)
VALUES (?, ?, ?, ?, ?, ?);
"""

insert_order_query = """
INSERT INTO orders (order_id, customer_id, order_date, total_amount)
VALUES (?, ?, ?, ?);
"""

In [12]:
employees_data = [
    ("Suman", "Shrestha", "suman.shrestha@example.com", "9800000001", "Kathmandu, Nepal", "2022-01-15", 60000, "HR", "Manager"),
    ("Anita", "Karki", "anita.karki@example.com", "9800000002", "Lalitpur, Nepal", "2021-03-22", 55000, "Finance", "Analyst"),
    ("Bikash", "Thapa", "bikash.thapa@example.com", "9800000003", "Pokhara, Nepal", "2020-07-10", 70000, "IT", "Developer"),
    ("Rita", "Gurung", "rita.gurung@example.com", "9800000004", "Biratnagar, Nepal", "2019-11-05", 65000, "Marketing", "Coordinator"),
    ("Prakash", "Lama", "prakash.lama@example.com", "9800000005", "Bhaktapur, Nepal", "2023-02-18", 72000, "Sales", "Executive"),
    ("Sunita", "Magar", "sunita.magar@example.com", "9800000006", "Dharan, Nepal", "2022-09-30", 58000, "HR", "Recruiter"),
    ("Dipesh", "Rai", "dipesh.rai@example.com", "9800000007", "Butwal, Nepal", "2021-12-12", 80000, "IT", "Lead Developer"),
    ("Mina", "Tamang", "mina.tamang@example.com", "9800000008", "Hetauda, Nepal", "2020-05-25", 54000, "Finance", "Accountant"),
    ("Kiran", "KC", "kiran.kc@example.com", "9800000009", "Janakpur, Nepal", "2018-08-14", 67000, "Sales", "Representative"),
    ("Sabina", "Sharma", "sabina.sharma@example.com", "9800000010", "Chitwan, Nepal", "2023-04-01", 62000, "Marketing", "Specialist"),
    ("Arun", "Pandey Laudari", "arunpandeylaudari@example.com", "9800000011", "Dhangadhi, Nepal", "2022-06-20", 61000, "IT", "Support Engineer"),
    ("Binisha", "Chapagain", "binishachapagain2@example.com", "9800000012", "Nepalgunj, Nepal", "2021-10-11", 59000, "Finance", "Auditor")
]

In [13]:
customers_data = [
    (1, "Arun", "Pandey Laudari", "arunpandeylaudari@example.com", "9800000111", "Dhangadhi, Nepal"),
    (2, "Binisha", "Chapagain", "binishachapagain2@example.com", "9800000112", "Nepalgunj, Nepal"),
    (3, "Ram", "Sharma", "ram.sharma@example.com", "9800000101", "Kathmandu, Nepal"),
    (4, "Sita", "Thapa", "sita.thapa@example.com", "9800000102", "Lalitpur, Nepal"),
    (5, "Hari", "Karki", "hari.karki@example.com", "9800000103", "Pokhara, Nepal"),
    (6, "Gita", "Gurung", "gita.gurung@example.com", "9800000104", "Biratnagar, Nepal"),
    (7, "Nabin", "Lama", "nabin.lama@example.com", "9800000105", "Bhaktapur, Nepal"),
    (8, "Rina", "Magar", "rina.magar@example.com", "9800000106", "Dharan, Nepal"),
    (9, "Dipak", "Rai", "dipak.rai@example.com", "9800000107", "Butwal, Nepal"),
    (10, "Mina", "Tamang", "mina.tamang@example.com", "9800000108", "Hetauda, Nepal"),
    (11, "Kiran", "KC", "kiran.kc@example.com", "9800000109", "Janakpur, Nepal"),
    (12, "Sabina", "Sharma", "sabina.sharma@example.com", "9800000110", "Chitwan, Nepal")
]

orders_data = [
    (1, 1, "2024-06-01", 1500.0),
    (2, 2, "2024-06-02", 2000.0),
    (3, 3, "2024-06-03", 1750.0),
    (4, 4, "2024-06-04", 2200.0),
    (5, 5, "2024-06-05", 1800.0),
    (6, 6, "2024-06-06", 2100.0),
    (7, 7, "2024-06-07", 1950.0),
    (8, 8, "2024-06-08", 2300.0),
    (9, 9, "2024-06-09", 1600.0),
    (10, 10, "2024-06-10", 2500.0),
    (11, 11, "2024-06-11", 1450.0),
    (12, 12, "2024-06-12", 2050.0)
]

In [14]:
# executing the insert queries with data 

cursor.executemany(insert_employee_query, employees_data)
cursor.executemany(insert_customer_query, customers_data)
cursor.executemany(insert_order_query, orders_data)

In [15]:
#  commit the changes to the database

conn.commit()

In [16]:
# lets check if the data is inserted correctly

cursor.execute("SELECT * FROM employees;")
employees_result = cursor.fetchall()
print("Employees Data:")
for row in employees_result:
    print(row)

Employees Data:
(1, 'Suman', 'Shrestha', 'suman.shrestha@example.com', '9800000001', 'Kathmandu, Nepal', '2022-01-15', 60000.0, 'HR', 'Manager')
(2, 'Anita', 'Karki', 'anita.karki@example.com', '9800000002', 'Lalitpur, Nepal', '2021-03-22', 55000.0, 'Finance', 'Analyst')
(3, 'Bikash', 'Thapa', 'bikash.thapa@example.com', '9800000003', 'Pokhara, Nepal', '2020-07-10', 70000.0, 'IT', 'Developer')
(4, 'Rita', 'Gurung', 'rita.gurung@example.com', '9800000004', 'Biratnagar, Nepal', '2019-11-05', 65000.0, 'Marketing', 'Coordinator')
(5, 'Prakash', 'Lama', 'prakash.lama@example.com', '9800000005', 'Bhaktapur, Nepal', '2023-02-18', 72000.0, 'Sales', 'Executive')
(6, 'Sunita', 'Magar', 'sunita.magar@example.com', '9800000006', 'Dharan, Nepal', '2022-09-30', 58000.0, 'HR', 'Recruiter')
(7, 'Dipesh', 'Rai', 'dipesh.rai@example.com', '9800000007', 'Butwal, Nepal', '2021-12-12', 80000.0, 'IT', 'Lead Developer')
(8, 'Mina', 'Tamang', 'mina.tamang@example.com', '9800000008', 'Hetauda, Nepal', '2020-05-25', 54000.0, 'Finance', 'Accountant')
(9, 'Kiran', 'KC', 'kiran.kc@example.com', '9800000009', 'Janakpur, Nepal', '2018-08-14', 67000.0, 'Sales', 'Representative')
(10, 'Sabina', 'Sharma', 'sabina.sharma@example.com', '9800000010', 'Chitwan, Nepal', '2023-04-01', 62000.0, 'Marketing', 'Specialist')
(11, 'Arun', 'Pandey Laudari', 'arunpandeylaudari@example.com', '9800000011', 'Dhangadhi, Nepal', '2022-06-20', 61000.0, 'IT', 'Support Engineer')
(12, 'Binisha', 'Chapagain', 'binishachapagain2@example.com', '9800000012', 'Nepalgunj, Nepal', '2021-10-11', 59000.0, 'Finance', 'Auditor')

In [17]:
cursor.execute("SELECT * FROM customers;")
customers_result = cursor.fetchall()
print("Customers Data:")
for row in customers_result:
    print(row)

Customers Data:
(1, 'Arun', 'Pandey Laudari', 'arunpandeylaudari@example.com', '9800000111', 'Dhangadhi, Nepal')
(2, 'Binisha', 'Chapagain', 'binishachapagain2@example.com', '9800000112', 'Nepalgunj, Nepal')
(3, 'Ram', 'Sharma', 'ram.sharma@example.com', '9800000101', 'Kathmandu, Nepal')
(4, 'Sita', 'Thapa', 'sita.thapa@example.com', '9800000102', 'Lalitpur, Nepal')
(5, 'Hari', 'Karki', 'hari.karki@example.com', '9800000103', 'Pokhara, Nepal')
(6, 'Gita', 'Gurung', 'gita.gurung@example.com', '9800000104', 'Biratnagar, Nepal')
(7, 'Nabin', 'Lama', 'nabin.lama@example.com', '9800000105', 'Bhaktapur, Nepal')
(8, 'Rina', 'Magar', 'rina.magar@example.com', '9800000106', 'Dharan, Nepal')
(9, 'Dipak', 'Rai', 'dipak.rai@example.com', '9800000107', 'Butwal, Nepal')
(10, 'Mina', 'Tamang', 'mina.tamang@example.com', '9800000108', 'Hetauda, Nepal')
(11, 'Kiran', 'KC', 'kiran.kc@example.com', '9800000109', 'Janakpur, Nepal')
(12, 'Sabina', 'Sharma', 'sabina.sharma@example.com', '9800000110', 'Chitwan, Nepal')

In [18]:
cursor.execute("SELECT * FROM orders;")
order_result = cursor.fetchall()
print("Orders Data:")
for row in order_result:
    print(row)

Orders Data:
(1, 1, '2024-06-01', 1500.0)
(2, 2, '2024-06-02', 2000.0)
(3, 3, '2024-06-03', 1750.0)
(4, 4, '2024-06-04', 2200.0)
(5, 5, '2024-06-05', 1800.0)
(6, 6, '2024-06-06', 2100.0)
(7, 7, '2024-06-07', 1950.0)
(8, 8, '2024-06-08', 2300.0)
(9, 9, '2024-06-09', 1600.0)
(10, 10, '2024-06-10', 2500.0)
(11, 11, '2024-06-11', 1450.0)
(12, 12, '2024-06-12', 2050.0)

In [55]:
# langraph start form here for Tools

In [20]:
from langchain_community.utilities import SQLDatabase
from dotenv import load_dotenv
load_dotenv()

True

In [21]:
# load the database from the URI in the format sqlite:///my_database.db at variable db

db = SQLDatabase.from_uri("sqlite:///my_database.db")

In [22]:
db
# now we can use db to interact with the database

In [23]:
db.dialect

# dialect means
# In SQLAlchemy and related libraries, "dialect" refers to the specific database backend (such as SQLite, MySQL, PostgreSQL, etc.)
# It handles differences in SQL syntax and behavior for each database type.
# Here, db.dialect shows the dialect object being used, which is responsible for generating SQL statements compatible with your SQLite database.

'sqlite'

In [24]:
db.get_usable_table_names()

['customers', 'employees', 'orders']

In [25]:
from langchain_groq import ChatGroq

llm = ChatGroq(
    model_name="llama-3.1-8b-instant",
    temperature=0.1
)

In [29]:
# test llm 

llm.invoke("Who is the capital city of Nepal?").content

'The capital city of Nepal is Kathmandu.'

In [33]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit

# SQLDatabaseToolkit is a class that provides tools for interacting with a SQL database using LangChain.
# it allows you to perform operations like querying, inserting, updating, and deleting data in a SQL database.

In [34]:
db_toolkit=SQLDatabaseToolkit(db=db, llm=llm)

In [36]:
# db_toolkit is an instance of SQLDatabaseToolkit that allows you to interact with the database
# its give tools for querying, inserting, updating, and deleting data in the database

In [37]:
db_toolkit.get_tools()

[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001F1A92D6C00>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001F1A92D6C00>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001F1A92D6C00>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001F1A92D6C00>, llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x000001F1AADA52B0>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x000001F1AAEE4590>, model_name='llama-3.1-8b-instant', temperature=0.1, model_kwargs={}, groq_api_key=SecretStr('**********')), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x000001F1AADA52B0>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x000001F1AAEE4590>, model_name='llama-3.1-8b-instant', temperature=0.1, model_kwargs={}, groq_api_key=SecretStr('**********')), output_parser=StrOutputParser(), llm_kwargs={}))]

In [39]:
tools = db_toolkit.get_tools()

for tool in tools:
    print(tool.name)

sql_db_query
sql_db_schema
sql_db_list_tables
sql_db_query_checker

In [40]:
# create a tools

In [41]:
list_tables_tool = next((tool for tool in tools if tool.name == "sql_db_list_tables"), None)

In [ ]:
# tool 1
list_tables_tool

# this tool is used to list all the tables in the database

ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001F1A92D6C00>)

In [45]:
get_schema_tool = next((tool for tool in tools if tool.name == "sql_db_schema"), None)

In [ ]:
# 2nd tool
get_schema_tool
# This tool is used to get the schema of the database, including table names and their columns.

InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001F1A92D6C00>)

In [49]:
list_tables_tool.invoke({})

'customers, employees, orders'

In [52]:
get_schema_tool.invoke("customers")

'\nCREATE TABLE customers (\n\tcustomer_id INTEGER, \n\tfirst_name TEXT NOT NULL, \n\tlast_name TEXT NOT NULL, \n\temail TEXT NOT NULL, \n\tphone TEXT, \n\taddress TEXT, \n\tPRIMARY KEY (customer_id), \n\tUNIQUE (email)\n)\n\n/*\n3 rows from customers table:\ncustomer_id\tfirst_name\tlast_name\temail\tphone\taddress\n1\tArun\tPandey Laudari\tarunpandeylaudari@example.com\t9800000111\tDhangadhi, Nepal\n2\tBinisha\tChapagain\tbinishachapagain2@example.com\t9800000112\tNepalgunj, Nepal\n3\tRam\tSharma\tram.sharma@example.com\t9800000101\tKathmandu, Nepal\n*/'

In [54]:
print(get_schema_tool.invoke("customers"))

CREATE TABLE customers (
	customer_id INTEGER,
	first_name TEXT NOT NULL,
	last_name TEXT NOT NULL,
	email TEXT NOT NULL,
	phone TEXT,
	address TEXT,
	PRIMARY KEY (customer_id),
	UNIQUE (email)
)

/*
3 rows from customers table:
customer_id	first_name	last_name	email	phone	address
1	Arun	Pandey Laudari	arunpandeylaudari@example.com	9800000111	Dhangadhi, Nepal
2	Binisha	Chapagain	binishachapagain2@example.com	9800000112	Nepalgunj, Nepal
3	Ram	Sharma	ram.sharma@example.com	9800000101	Kathmandu, Nepal
*/

In [62]:
# lets make a tool using tool decorator
# 3rd tool create a tool to execute SQL queries
from langchain_community.tools import tool

@tool
def db_query_tool(query: str) -> str:
    
    """Executes a SQLquery against the database and returns the result.
      if the query fails, it returns an error messag.
      incase of an error , the user is advised to check the query syntax or the database connection and try again.
    """
    
    result = db.run_no_throw(query)
    # db has a run_no_throw method that executes a SQL query against the database and returns the result.
    # If the query fails, it returns an error message.
    if not result:
        return "Error:Query failed.Please check the query syntax or the database connection and try again."
    return result

In [63]:
db_query_tool.invoke("SELECT * FROM customers;")

"[(1, 'Arun', 'Pandey Laudari', 'arunpandeylaudari@example.com', '9800000111', 'Dhangadhi, Nepal'), (2, 'Binisha', 'Chapagain', 'binishachapagain2@example.com', '9800000112', 'Nepalgunj, Nepal'), (3, 'Ram', 'Sharma', 'ram.sharma@example.com', '9800000101', 'Kathmandu, Nepal'), (4, 'Sita', 'Thapa', 'sita.thapa@example.com', '9800000102', 'Lalitpur, Nepal'), (5, 'Hari', 'Karki', 'hari.karki@example.com', '9800000103', 'Pokhara, Nepal'), (6, 'Gita', 'Gurung', 'gita.gurung@example.com', '9800000104', 'Biratnagar, Nepal'), (7, 'Nabin', 'Lama', 'nabin.lama@example.com', '9800000105', 'Bhaktapur, Nepal'), (8, 'Rina', 'Magar', 'rina.magar@example.com', '9800000106', 'Dharan, Nepal'), (9, 'Dipak', 'Rai', 'dipak.rai@example.com', '9800000107', 'Butwal, Nepal'), (10, 'Mina', 'Tamang', 'mina.tamang@example.com', '9800000108', 'Hetauda, Nepal'), (11, 'Kiran', 'KC', 'kiran.kc@example.com', '9800000109', 'Janakpur, Nepal'), (12, 'Sabina', 'Sharma', 'sabina.sharma@example.com', '9800000110', 'Chitwan, Nepal')]"

In [65]:
# db has run tool that executes a SQL query against the database and returns the result.
# db.run("SELECT * FROM customers;")

# prefer using run_no_throw method to avoid exceptions and handle errors gracefully.

In [66]:
from langchain_core.prompts import ChatPromptTemplate

In [69]:
from langchain_core.prompts import ChatPromptTemplate

query_check_system = """You are a SQL expert with a strong attention to detail.
Double check the SQLite query for common mistakes, including:
- Using NOT IN with NULL values
- Using UNION when UNION ALL should have been used
- Using BETWEEN for exclusive ranges
- Data type mismatch in predicates
- Properly quoting identifiers
- Using the correct number of arguments for functions
- Casting to the correct data type
- Using the proper columns for joins

If there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.

You will call the appropriate tool to execute the query after running this check."""

query_check_prompt = ChatPromptTemplate.from_messages([("system", query_check_system), ("placeholder", "{messages}")])

query_check = query_check_prompt | llm.bind_tools([db_query_tool])

query_check.invoke({"messages": [("user", "SELECT * FROM employees LIMIT 5;")]}).content

'SELECT * FROM employees LIMIT 5;\n\n'